*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

html {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  font-weight: 400; }

.main-header {
  background-image: url(./img/hero.jpg);
  width: 100vh;
  height: 20px; }
