*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

/*----------------------------------------------------
	Author:			theme_div
	Primary color:	#ffd7d7 (pink)


	[Table of contents]
	1. General
		1.1 Animations
		1.2 Icons
	2. Utilities
	3. Hero
	4. Navigation
		4.1. Mobile navigation
	5. Intro
		5.1. Counter
	6. Story timeline
	7. Bridesmaids & Groomsmen
		7.1. Slider
	9. Location
	10. RSVP
	11. Memories
		11.1. Masonry
	12. Footer

----------------------------------------------------*/
@font-face {
  font-family: noelan;
  src: url(../../fonts/noelan/noelan.woff2); }

.text-center {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50rem; }

.main-nav {
  color: #212529;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  transition: all .1s; }

.main-nav .nav > .item {
  display: inline-block;
  cursor: pointer;
  margin-left: 2rem;
  padding: 14px 0; }

.main-nav .nav > .item:hover {
  border-bottom: 1px solid #000; }

.main-nav .nav .item > .link {
  padding: 0 14px;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  letter-spacing: 0.5px; }

.about-us {
  margin: 80px 0 120px;
  text-align: center; }

.about-us .title {
  color: #000;
  font-family: "noelan", sans-serif;
  font-weight: 400;
  margin-bottom: 40px; }

.about-us .couple {
  position: relative; }

.about-us .couple > .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  fill: #ffffff;
  transition: fill .7s;
  cursor: pointer; }

.about-us .couple > .heart:hover {
  fill: pink; }

.about-us .couple .content {
  display: inline-block;
  margin: 3px; }

.about-us .couple .content img {
  max-width: 545px;
  background-size: cover;
  background-position: top center; }

html {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #FFF; }

.main-header {
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 90vh;
  vertical-align: middle;
  text-align: center;
  position: relative; }

.main-header > .banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.main-header .banner > .title {
  font-family: "noelan";
  font-size: 52px;
  font-weight: 500;
  color: inherit; }

.main-header .banner > .date {
  font-size: 28px;
  font-weight: 700; }

.main-header .banner > .image {
  width: 300px;
  margin-top: -40px; }
  .main-header .banner > .image.top {
    transform: rotate(180deg);
    margin-bottom: -30px; }
