.about-us {
  margin: 80px 0 120px;
  text-align: center;
}

.about-us .title {
  color: $color-black;

  font-family: "noelan", sans-serif;
  font-weight: 400;
  margin-bottom: 40px;
}

.about-us .couple {
  position: relative;
}

.about-us .couple > .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;

  z-index: 5;

  fill: #ffffff;

  transition: fill .7s;
  cursor: pointer;
}

.about-us .couple > .heart:hover {
  fill: pink;
}

.about-us .couple .content {
  display: inline-block;
  margin: 3px;

  position: relative;
  overflow: hidden;

}

.about-us .couple .content .image {
  content: "";
  max-width: 545px;
  min-width: 545px;

  min-height: 360px;
  max-height: 360px;
}

.about-us .couple .content .image:hover {
  background-color: blue;
}

.about-us .couple .content .image.-woman {
  background-image: url(../../img/bride.jpg);
  background-size: cover;
  background-position: top center;
}

.about-us .couple .content .image.-man {
  background-image: url(../../img/groom.jpg);
  background-size: cover;
  background-position: top center;
}


.about-us .couple .content .text {
  text-align: left;
  color: black;
  padding: 35px 60px;

  text-align: justify;

  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  
  opacity: 0;

}

.about-us .couple .content .text > h3 {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.about-us .couple .content .text > p {
  font-size: 18px;
}
