.friends-section {
  margin: 100px 0;
}

.friends-section > .title {
  color: black;
  text-align: center;
  font-family: "noelan", sans-serif;
  font-weight: 400;
  font-size: 32px;
  word-spacing: 8px;
  margin-bottom: 20px;
}

.friends-section .list {
  list-style: none;
  display: inline-block;
}

.friends-section .list .slider .item {
  width: 265px;
  display: inline-block;
}

.friends-section .list .slider .item img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 4px 21px 29px -8px rgba(161,161,161,1);
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.friends-section .list .slider .item p {
  color: black;
  text-align: center;
}