.container {
  position: relative;
}

.container .story-timeline {
  max-width: 920px;
  color: black;
  display: block;
  margin: 0 auto;
}

.container .story-timeline > .title {
  padding-top: -30px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}


.container .story-timeline .title > h2 {
  text-align: center;
  font-family: "noelan", sans-serif;
  word-spacing: 8px;
  font-weight: 400;
}

.container .story-timeline .story {  
  padding: 50px 0;
  position: relative;
  max-width: 1140px;
}

.container .story-timeline .story > .main {
  max-width: 50%;
}

.container .story-timeline .story > .storyleft {
  float: left;
  padding-right: 45px;
  position: relative;
}

.container .story-timeline .story > .storyleft::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #dfdfdf;
}

.container .story-timeline .story > .storyright {
  float: right;
  padding-left: 45px;
}


.story-timeline img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.story-timeline .story .main > .text {
  padding: 50px 0;
}

.story-timeline .story .main .text h4 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 15px;
  position: relative;
}

.container .story-timeline .story .main .text .miniheart {
  width: 20px;
  fill: $primary-color;
  padding: 3px 0;
  margin-top: 2px;
  background-color: #fbfbfa;
  z-index: 30;
}

.story-timeline .story .storyleft .text .miniheart {
  position: absolute;
  top: 0;
  left: 449px;
  margin-right: auto;
}

.story-timeline .story .storyright .text .miniheart {
  position: absolute;
  top: 0;
  left: -55px;
}

.story-timeline .story .storyleft .text p {
  text-align: right;
}

.story-timeline .story .storyleft .text > h4 {
  padding-right: 78px;
}

.story-timeline .story .storyleft .text > h4::before {
    content: "";
    position: absolute;
    height: 1px;
    background: #dfdfdf;
    left: -33px;
    width: 26px;
    top: 14px;
    width: 100px;
    left: auto;
    right: -33px;
}


.story-timeline .story .storyright .text > h4 {
  padding-left: 78px;
}

.story-timeline .story .storyright .text > h4::before {
    content: "";
    position: absolute;
    height: 1px;
    background: #dfdfdf;
    left: -33px;
    width: 26px;
    top: 14px;
    width: 100px;
}

.story-timeline .story .storyleft .text {
  text-align: right;
}

.story-timeline .story .storyright .text {
  text-align: left;
}


@media (max-width: $bp-mobile) {
  
  .container .story-timeline .story > .main {
    max-width: 50%;
    margin: 0 auto;
  }

  .container .story-timeline .story > .storyright, .container .story-timeline .story > .storyleft  {
    float: none;  
    padding-right: 0;
    padding-left: 0;
  }
  
  .story-timeline .story .storyleft .text > h4, .story-timeline .story .storyright .text > h4 {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  

  .story-timeline .story .storyleft .text, .story-timeline .story .storyleft .text p{
    text-align: center;
  }

  .story-timeline img {
    margin: 0 auto;
  }

  .container .story-timeline .story .main .text .miniheart, .container .story-timeline .story > .storyleft::after, .story-timeline .story .storyleft .text > h4::before, .story-timeline .story .storyright .text > h4::before {
    display: none;
  }

}



