.counter-date {

  margin-top: 25px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  color: black;
  display: inline-block;
}

.counter-date > ul {

  font-size: 20px;
  list-style: none;
  margin-left: 70px;

}

.counter-date ul > .date {

  display: inline-block;
  font-family: "Cormorant Garamond", serif; 
  position: relative;
  padding: 20px;
  text-align: center;
}

.counter-date ul .date > span {
  font-size: 42px;
}

.counter-date ul .date > p {
  font-size: 22px;
  font-weight: 300;
  font-style: initial;
  line-height: 0.5;
  margin-top: 10px;
}

.counter-date ul .date > .miniheart {
  width: 20px;
  height: 20px;
  position: absolute;
  fill: $color-pink;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}