.main-header {  
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 90vh;
  vertical-align: middle;
  text-align: center;
}

.main-header .title {
  font-family: "noelan";
  font-size: 2rem;
  word-spacing: .8rem;
  font-weight: 500;
  color: inherit;
}

.main-header img {
  width: 10rem;

  &.top {
    transform: rotate(178deg);
  }
}


