.main-header {  
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 90vh;

  text-align: center;
}

.main-header > .title {
  font-family: "noelan";
  font-size: 2rem;
  word-spacing: .8rem;
  font-weight: 500;
  line-height: 1.2;

  color: inherit;
}

