.main-header {  
  background-image: url(../../img/hero.jpg);
  background-size: cover;
  background-position: top center;
  height: 90vh;
  vertical-align: middle;
  text-align: center;

  position: relative;
}

.main-header > .banner {
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.main-header .banner > .title {
  font-family: "noelan";
  font-size: 4rem;
  font-weight: 500;
  color: inherit;
}

.main-header .banner > .date {
  font-size: 2.5rem;
}

.main-header .banner > .image {
  width: 25rem;
  margin-top: -40px;

  &.top {
    transform: rotate(178deg);
    margin-bottom: -20px;
  }
}


