.text-center {
  display: block;
  margin: 0 auto;

  width: 100%;
  height: 50rem;
}

.overlay {
  position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: none;
  z-index:0;
}

.overlay:hover:before{
  display: block;
}

.pink:before {
  background-color: pink;
}

.box * {
    position: relative;
    /* hack */
}
